* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1C1C1E;
  color: white;
  padding: 30px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  height: 90px;
  place-items: center;
  row-gap: 20px;
}

.container .search__box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.container .search__box #search {
  color: #EED96E;
  padding-left: 10px;
  width: 355px;
  height: 23px;
  border: 1px solid #EED96E;
  outline: none;
  background: none;
}

@media (max-width: 415px) {
  .container .search__box #search {
    width: 300px;
  }
}

.container .links {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  grid-auto-flow: column;
}

.container .links input {
  border: 1px solid #EED96E;
  outline: none;
  background: none;
  padding: 4px;
  cursor: pointer;
  width: auto hell worilkmlk;
}

.container .links #green-box {
  color: green;
}

.container .links #red-box {
  color: red;
}

.container .links #blue-box {
  color: blue;
}

.container .links #aqua-box {
  color: aqua;
}

.container .links #orange-box {
  color: orange;
}

#posts {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

#posts .postContainer {
  display: -ms-grid;
  display: grid;
  border: 2px solid #EED96E;
  padding: 10px;
  row-gap: 10px;
}

#posts .postContainer #posts__title {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .postContainer #posts__title label {
  color: #EED96E;
}

#posts .postContainer #posts__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .postContainer #posts__body label {
  color: #EED96E;
}

#posts .postContainer .link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .postContainer .link a {
  color: #63C5EA;
}

#posts .greenpost {
  display: -ms-grid;
  display: grid;
  border: 2px solid green;
  padding: 10px;
  row-gap: 10px;
}

#posts .greenpost #posts__title {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .greenpost #posts__title label {
  color: #EED96E;
}

#posts .greenpost #posts__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .greenpost #posts__body label {
  color: #EED96E;
}

#posts .greenpost .link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .greenpost .link a {
  color: #63C5EA;
}

#posts .redpost {
  display: -ms-grid;
  display: grid;
  border: 2px solid red;
  padding: 10px;
  row-gap: 10px;
}

#posts .redpost #posts__title {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .redpost #posts__title label {
  color: #EED96E;
}

#posts .redpost #posts__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .redpost #posts__body label {
  color: #EED96E;
}

#posts .redpost .link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .redpost .link a {
  color: #63C5EA;
}

#posts .bluepost {
  display: -ms-grid;
  display: grid;
  border: 2px solid blue;
  padding: 10px;
  row-gap: 10px;
}

#posts .bluepost #posts__title {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .bluepost #posts__title label {
  color: #EED96E;
}

#posts .bluepost #posts__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .bluepost #posts__body label {
  color: #EED96E;
}

#posts .bluepost .link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .bluepost .link a {
  color: #63C5EA;
}

#posts .aquapost {
  display: -ms-grid;
  display: grid;
  border: 2px solid aqua;
  padding: 10px;
  row-gap: 10px;
}

#posts .aquapost #posts__title {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .aquapost #posts__title label {
  color: #EED96E;
}

#posts .aquapost #posts__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .aquapost #posts__body label {
  color: #EED96E;
}

#posts .aquapost .link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .aquapost .link a {
  color: #63C5EA;
}

#posts .orangepost {
  display: -ms-grid;
  display: grid;
  border: 2px solid orange;
  padding: 10px;
  row-gap: 10px;
}

#posts .orangepost #posts__title {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .orangepost #posts__title label {
  color: #EED96E;
}

#posts .orangepost #posts__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .orangepost #posts__body label {
  color: #EED96E;
}

#posts .orangepost .link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .orangepost .link a {
  color: #63C5EA;
}

#posts .orangepost #posts__title {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .orangepost #posts__title label {
  color: #EED96E;
}

#posts .orangepost #posts__body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#posts .orangepost #posts__body label {
  color: #EED96E;
}

#posts .orangepost .link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .orangepost .link a {
  color: #63C5EA;
}

#posts .hide {
  display: none;
}
/*# sourceMappingURL=index.css.map */