@import '../Sass/mixins'
*
    margin: 0px
    padding: 0px

body
    background-color: #1C1C1E
    color: white
    padding: 30px

.container
    display: grid
    grid-template-columns: repeat(auto-fit , minmax(320px , 1fr))
    height: 90px
    place-items: center
    row-gap: 20px
    .search__box
        display: grid
        align-items: center
        grid-auto-flow: column
        column-gap: 10px
        #search
            color: #EED96E
            padding-left: 10px
            width: 355px
            height: 23px
            border: 1px solid #EED96E
            outline: none
            background: none
            @media (max-width: 415px)
                width: 290px
#posts
    display: grid
    margin-top: 30px
    grid-template-columns: repeat(auto-fill , minmax(320px , 1fr))
    gap: 20px
    .postContainer
        @include post( grid, 2px solid #EED96E , 10px , 10px )
        #posts__title
            display: grid
            justify-items: center

            label
                color: #EED96E
        #posts__body
            display: grid
            justify-items: center

            label
                color: #EED96E
        .link
            display: grid
            justify-content: center
            a
                color: #63C5EA

    .greenpost
        @include post( grid, 2px solid green , 10px , 10px )
        #posts__title
            display: grid
            justify-items: center

            label
                color: #EED96E
        #posts__body
            display: grid
            justify-items: center

            label
                color: #EED96E
        .link
            display: grid
            justify-content: center
            a
                color: #63C5EA

    .redpost
        @include post( grid, 2px solid red , 10px , 10px )
        #posts__title
            display: grid
            justify-items: center

            label
                color: #EED96E
        #posts__body
            display: grid
            justify-items: center

            label
                color: #EED96E
        .link
            display: grid
            justify-content: center
            a
                color: #63C5EA

    .bluepost
        @include post( grid, 2px solid blue , 10px , 10px )
        #posts__title
            display: grid
            justify-items: center

            label
                color: #EED96E
        #posts__body
            display: grid
            justify-items: center

            label
                color: #EED96E
        .link
            display: grid
            justify-content: center
            a
                color: #63C5EA

    .aquapost
        @include post( grid, 2px solid aqua , 10px , 10px )
        #posts__title
            display: grid
            justify-items: center

            label
                color: #EED96E
        #posts__body
            display: grid
            justify-items: center

            label
                color: #EED96E
        .link
            display: grid
            justify-content: center
            a
                color: #63C5EA

    .orangepost
        @include post( grid, 2px solid orange , 10px , 10px )
        #posts__title
            display: grid
            justify-items: center

            label
                color: #EED96E
        #posts__body
            display: grid
            justify-items: center

            label
                color: #EED96E
        .link
            display: grid
            justify-content: center
            a
                color: #63C5EA

        #posts__title
            display: grid
            justify-items: center

            label
                color: #EED96E
        #posts__body
            display: grid
            justify-items: center

            label
                color: #EED96E
        .link
            display: grid
            justify-content: center
            a
                color: #63C5EA

    .hide
        display: none
